/* Navbar */

.actionBtn {
    background-color: #EC9706;
    font-size: 18;
    font-weight: 400;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
}

/* Homepage */

#homePage .hero {
    background-color: #003764;
    color: white;
}

.goldText {
    color: #EC9706;
}

.blueText {
    color: #003764;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero .left_content {
    padding: 10%;
}

.left_content h4 {
    color: #EC9706;
    font-size: 1.2em;
}


.about {
    margin: 5% 0;
    text-align: center;
}


.successes {
    margin: 5% 0;
    text-align: center;
}

.successes .left_content {
    text-align: left;
}

.content {
    color: white;
    text-align: left;
    padding: 7%;
    background-color: #EC9706;
}

.footer {
    background-color: #003764;
    color: white;

}

/* PXT Select */

#pxtSelect .hero {
    text-align: center;
    color: #003764;
}

.pxt_logo {
    height: 100%;
    width: 40%;
    object-fit: cover;
}

#pxtSelect .btnText {
    background-color: #00AFB2;
    color: white;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 24px;
}

#pxtSelect .assessment {
    text-align: center;
    background-color: #006581;

}

section {
    padding: 5% 0;

}

#pxtSelect .assessment .card {
    text-align: center;
    border-radius: 0;
    padding: 12px;
}

.assessment img {
    height: 140px;
    width: 100%;
    object-fit: contain;
}