/* Navbar */
/* #24B8BD */
.actionBtn {
    background-color: #EC9706;
    font-size: 18;
    font-weight: 400;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
}


h1 {
    font-size: 3.75rem;
    font-weight: 700;
    /* color: #003764; */
}

#shadow-host-companion {
    display: none;
}

/* Homepage */

#homePage .hero {
    background-color: #003764;
    color: white;
}

.hero_profile {
    border-radius: 50%;
    width: auto;
    height: 300px;
}

.goldText {
    color: #EC9706;
}

.blueText {
    color: #003764;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero .left_content {
    padding: 10%;
}

.left_content h4 {
    color: #EC9706;
    font-size: 1.2em;
}

.services_div {
    background-color: rgba(236, 151, 6, 0.19);
    border-radius: 20px;
    padding: 10%;
}


.services_provide {
    margin: 5% 0;
    text-align: center;
}

.services_provide .card {
    text-align: left;
    padding: 25px 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.successes {
    margin: 5% 0;
    text-align: center;
}

.successes .left_content {
    text-align: left;
}

.content {
    color: white;
    text-align: left;
    padding: 7%;
    background-color: #EC9706;
}

.footer {
    background-color: #003764;
    color: white;

}

/* PXT Select */

#pxtSelect .border_container {
    /* 24B8BD */
    border: 30px solid #24B8BD;
    /* border-image: linear-gradient(145deg, rgba(36, 184, 189, 1) 50%, rgba(255, 255, 255, 1) 50%); */
    /* border-image: linear-gradient(90deg, #24B8BD 0%, #003764 100%); */
    border-image-slice: 2;
    padding: 0;
}

#pxtSelect .hero {
    text-align: center;
    color: #003764;
}

#pxtSelect .actionBtn {
    background-color: #24B8BD;
    color: white;
    /* padding: 12px 24px; */
    border-radius: 15px;
}

.pxt_logo {
    height: 100%;
    width: 40%;
    object-fit: cover;
}

#pxtSelect .btnText {
    background-color: #24B8BD;
    color: white;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 24px;
}

#pxtSelect .assessment {
    text-align: center;
    background-color: #24B8BD;

}

section {
    /* padding: 5% 0; */

}

#pxtSelect .assessment .card {
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 12px;
}

.assessment img {
    height: 140px;
    width: 100%;
    object-fit: contain;
}

#pxtSelect .contact {
    text-align: center;

}

#pxtSelect .footer {
    background-color: #24B8BD;
    margin: 0;
}

.contactUsForm {
    text-align: left;
    padding: 5%;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.contactUsForm button {
    font-size: 20px;
    padding: 12px 80px !important;
}

/* Genos */

#genos .hero {
    text-align: center;
}

.heading {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
    padding: 2%;
    background-color: #EC9706;
    /* width: 295px; */
    border-radius: 5px;
}

#genos .border_container {

    border: 30px solid #2B292A;
    padding: 0;
}

.bulletPointCircle {
    background-color: #2EA3F2;
    color: white;
    border-radius: 50%;
    padding: 4px;
    width: 32px;
    text-align: center;

}

.bulletPoint {
    text-align: left;
    padding: 5%;
    background-color: #F5F5F5;
    margin-bottom: 2%;
    border-radius: 20px;
}

.program .card {
    text-align: left;
    border-radius: 8px;
    color: black;
    /* padding: 12px; */
}

li::marker {
    color: #EC9706;
}

.program {
    color: white;
    background-color: #2B292A;
    margin-top: 5%;
}

#genos .footer {
    background-color: #2B292A;
    color: white;
}