/* Navbar */

.logo {
    height: auto;
    width: 150px;
    object-fit: cover;

}

.navbar {
    background-color: white;
}

.actionBtn {
    background-color: #EC9706;
    font-size: 18;
    font-weight: 400;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
}

.nav-item {
    margin: 0 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #1D1D1D !important;
}

h1 {
    font-size: 3.0rem;
    font-weight: 700;
}

#shadow-host-companion {
    display: none;
}

a {
    color: #EC9706;
}

.heading_div {
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    padding: 10px 20px;
    background-color: #EC9706;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: fit-content;
}

.heading_div h4 {
    margin: 0;
}

/* Homepage */

#homePage .container-fluid {
    margin: 0;
    padding: 0;
    border: 15px solid #003764;
}

#homePage .hero {
    margin-top: 115px;
    /* padding-bottom: 30px; */
    background-color: #003764;
    color: white;
    vertical-align: middle;
    margin-bottom: 50px;
}

.hero .banner {
    padding: 0 0 0 10%;
    margin-top: -40px
}



.hero_profile {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.goldText {
    color: #EC9706;
}

.blueText {
    color: #003764;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero .left_content {
    padding: 10%;
}

.left_content h4 {
    color: #EC9706;
    font-size: 1.2em;
}

.reviews {
    margin: 5% 0;
    text-align: center;
}

.reviews .content {
    background-color: #003764;
    color: black;
    /* padding-right: 15%;
    padding-left: 15%; */
}

.reviews img {
    margin-bottom: 5%;
    max-height: 300px;
}

.reviews .card {
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 3%;
    /* margin: 0 10%; */
}

.contact {
    text-align: center;
}

.client {
    font-weight: 200;
    margin: 5% 0;
    text-align: center;

}

.services_div {
    rotate: z 45deg;
    position: absolute;
    height: 300px;
    top: 30%;
    background-color: rgba(236, 151, 6, 0.19);
    border-radius: 50px;
    padding: 10%;
}

#homePage .video {

    position: absolute;
    z-index: 1;
    left: 50px;
    top: -50px;
    border-radius: 20px;
    height: 320px;
}



.services_provide {
    margin: 5% 0;
    text-align: center;
}

.margin {
    margin-right: 15px;
}

.services_provide .right_block {
    background-color: #EC9706;
    width: fit-content;
    color: white;
    padding: 10%;
    text-align: left;
    border-radius: 20px;
}

.services_provide li::marker {
    color: white;
}

.services_provide .card {
    border-radius: 20px;
    text-align: left;
    padding: 25px 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
}

.successes {
    margin: 5% 0;
    text-align: center;
}

.successes .left_content {
    text-align: left;
}



.content {
    color: white;
    text-align: left;
    padding: 7%;
    background-color: #EC9706;
}

.footer {
    margin-top: 3%;
    padding: 5% 5% 2% 5%;
    background-color: #003764;
    color: white;

}

/* PXT Select */

#pxtSelect .border_container {
    /* 24B8BD */
    border: 15px solid #24B8BD;
    /* border-image: linear-gradient(145deg, rgba(36, 184, 189, 1) 50%, rgba(255, 255, 255, 1) 50%); */
    /* border-image: linear-gradient(90deg, #24B8BD 0%, #003764 100%); */
    border-image-slice: 2;
    padding: 0;
}

#pxtSelect .hero {
    text-align: center;
    color: #003764;
}

#pxtSelect .actionBtn {
    background-color: #24B8BD;
    color: white;
    /* padding: 12px 24px; */
    border-radius: 15px;
}

.pxt_logo {
    height: 100%;
    width: 40%;
    object-fit: cover;
}

#pxtSelect .btnText {
    background-color: #24B8BD;
    color: white;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 24px;
}

#pxtSelect .assessment {
    text-align: center;
    background-color: #24B8BD;

}

#pxtSelect .assessment .card {
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 12px;
}

.assessment img {
    height: 140px;
    width: 100%;
    object-fit: contain;
}

#pxtSelect .contact {
    text-align: center;

}

#pxtSelect .footer {
    background-color: #24B8BD;
    margin: 0;
}

.contactUsForm {
    text-align: left;
    padding: 5%;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.contactUsForm button {
    font-size: 20px;
    padding: 12px 80px !important;
}

/* Genos */

#genos .hero {
    text-align: center;
}

.heading {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
    padding: 20px 30px;
    background-color: #EC9706;
    /* width: 295px; */
    border-radius: 5px;
}

#genos .border_container {

    border: 15px solid #2B292A;
    padding: 0;
}

#genos .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bulletPointCircle {
    background-color: #2EA3F2;
    color: white;
    border-radius: 50%;
    padding: 4px;
    width: 32px;
    text-align: center;

}

.bulletPoint {
    text-align: left;
    padding: 5%;
    background-color: #F5F5F5;
    margin-bottom: 2%;
    border-radius: 20px;
}

.program .card {
    text-align: left;
    border-radius: 8px;
    color: black;
    /* padding: 12px; */
    margin-bottom: 2%;

}

li::marker {
    color: #EC9706;
}

.program {
    color: white;
    background-color: #2B292A;
    margin: 5% 0;

    padding: 3% 0;

}

#genos .footer {
    background-color: #2B292A;
    color: white;
}

/* Everything Disc */

#everything_disc .container-fluid {
    margin: 0;
    padding: 0;
    border: 15px solid #0094D0;
}

#everything_disc .hero {
    text-align: center;
}

#everything_disc .video {

    height: 350px;
    width: 100%;

}

#everything_disc .footer {
    background-color: #0094D0;
    color: white;
}

#everything_disc .service {
    margin-top: 5%;
    background-color: #0094D0;
    padding: 5% 0;
}

#everything_disc .service .card {
    text-align: center;
}

#everything_disc .needs {
    margin: 5% 0;
    text-align: center;
    justify-content: center;
}

#everything_disc .needs img {
    height: 50px;
    width: auto;
    object-fit: cover;
}

#everything_disc .success_stories {
    padding: 0 5%;
    margin: 5% 0;
    text-align: left;
}

#everything_disc .success_stories .boldText {
    font-weight: 800;
    font-size: 2.5rem;
}

#everything_disc .success_stories img {
    border-radius: 30px 0 0 30px;
}

#everything_disc .success_stories .card {
    border: none;
}

#everything_disc .success_stories .right_block {
    background-color: #EC9706;
    color: white;
    padding: 5%;
    border-radius: 0 30px 30px 0;

}

/* Media Queries */


@media (max-width: 1200px) {
    .hero .banner {
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    #homePage .video {
        height: 100%;
    }

}

@media screen and (max-width: 768px) {

    #homePage .container-fluid {

        border: 8px solid #003764;
    }

    #homePage .video {

        position: static;
        z-index: 99;
        left: 0;
        top: 0;
        height: 200px;

    }

    .services_div {
        margin: 50px;
        rotate: z 45deg;
        position: static;
        height: 200px;
        top: 0%;
        background-color: rgba(236, 151, 6, 0.19);
        border-radius: 50px;
        padding: 10%;
    }

    .margin {
        margin: 0;
    }

    #genos .video {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) {
    .contactUsForm {
        margin: 0 20%;
    }

}